<!DOCTYPE html> 
<html> 
<head> 
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'> 
    
    <meta content='IE=Edge' http-equiv='X-UA-Compatible'> 
    <meta content='no' http-equiv='imagetoolbar'> 
    <title>Realtime Chat Channel API Google App Engine</title> 
    <link href="{{ MEDIA_URL }}css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
    <script src="{{ MEDIA_URL }}js/jquery-1.6.4.js" type="text/javascript"></script>
    <script src="/_ah/channel/jsapi" type="text/javascript"></script>    
</head> 

<body>
<nav>
    <div id="main_nav">         
        <a href="{% url main %}" class="{% if home %}select{% endif %}">
            <img class="icon first" src="/media/images/home.png"></img>
            Chat Sample
        </a> 
        <img alt="Divider" class="divider" src="/media/images/divider.png"></img>
    </div>
</nav>
